$util.toJson({
  "userId": $ctx.stash.user.userId,
  "username":  $ctx.stash.user.username,
  "firstName":  $ctx.stash.user.firstName,
  "email":  $ctx.stash.user.email,
  "organization":  $ctx.stash.organization
})